<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minitarea1_dashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartGarden"
        android:theme="@style/Theme.Minitarea1Dashboard">

        <!-- Pantalla inicial -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Otras Activities -->
        <activity android:name=".RiegoActivity" android:exported="false"/>
        <activity android:name=".SensoresActivity" android:exported="false"/>

    </application>
</manifest>
